<apex:page controller="DivinationController" sidebar="false">
    <apex:stylesheet value="{! $Resource.styles }"/>

    <apex:outputPanel layout="block" styleClass="divination-result">
        <apex:pageBlock >
                <apex:facet name="header">
                    <div class="divination-header-style">Result of Casting: {!result.divinationName}</div>
                </apex:facet>

                <div class="divination-sub-header">About this casting</div>
                <div>{!result.divinationDescription}</div>
                <hr class="divination-large-separator" />
                
                <apex:variable value="{!1}" var="i"/>
                <apex:repeat value="{!result.runes}" var="r">
                    <strong>[{!i}]:&nbsp;Rune: {!r.name}</strong>
                    <p>{!r.manticDescription}</p>
                    <hr />
                    <apex:variable var="i" value="{!i + 1}" />
                </apex:repeat>

        </apex:pageBlock>
    </apex:outputPanel>

    <apex:panelGroup >
        <apex:form >
		<apex:commandButton action="{!start}" value="One more"/>
        </apex:form>
	</apex:panelGroup>
</apex:page>