<apex:page controller="DivinationController">
    <apex:stylesheet value="{! $Resource.styles }"/>

    <apex:form>
        <apex:pageBlock>
            <apex:pageBlockSection collapsible="false" columns="2">
                <apex:facet name="header">
                    <div class="divination-header-style">Please select the divination</div>
                </apex:facet>

                <apex:pageBlockSection columns="1">
                    <apex:selectRadio onchange="divinationChanged(this);" 
                                        value="{!divinationType}" 
                                        layout="pageDirection">
                        <apex:selectOptions value="{!options}" />
                    </apex:selectRadio>
                </apex:pageBlockSection>
                
                <apex:pageBlockSection columns="1">
                    <div id="divination-description"></div>

                    <apex:repeat value="{!divinations}" var="divination">
                        <div class="divination-description" 
                            id="description-{!divination.Divination_Type__c}">
                            {!divination.Divination_Description__c}
                        </div>
                    </apex:repeat>
                </apex:pageBlockSection>
            </apex:pageBlockSection>
            
            <apex:pageBlockButtons>
                <apex:commandButton action="{!selectDivination}" value="Continue"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>

    <apex:includeScript value="{!$Resource.divination}"/>
</apex:page>