.divination-header-style {
    font-size: 1.4rem;
    color: whitesmoke;
    background-color: black;
    padding: 0.1rem;
    padding-left: 0.5rem;
}

.divination-sub-header {
    font-size: 1.35rem;
    color: #000;
    background-color: lightslategray;
    padding: 0.3rem;
}

.divination-large-separator {
    height: 5px;
    color: black;
    background-color: black;
}

#divination-description, .divination-result {
    font-size: 1.2rem;
}

.divination-description {
    display: none;
}